# 내장함수

In [1]:
abs(-3)

3

In [2]:
bool('py')

True

In [3]:
for i in range(5):
    print(i * 2)

0
2
4
6
8

In [4]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in [10, 20 ,30]:
    print(i)

10
20
30

In [6]:
for i in {10: '십', 20:'이십', 30:'삼십'}:
    print(i)

10
20
30

In [7]:
data = {10:'십', 20:'이십', 30:'삼십'}
for i in data:
    print(data[i])

십
이십
삼십

In [8]:
arr1 = [1, 2 , 3, 4, 5]
print(len(arr1))

5

In [9]:
day = ['월', '화', '수', '목', '금', '토', '일']

In [10]:
day[1:3]

['화', '수']

In [11]:
day[2:4]

['수', '목']

In [12]:
day[-4: -2]

['목', '금']

In [13]:
day[-4:]

['목', '금', '토', '일']

In [14]:
day[1:4:2]

['화', '목']

In [15]:
day[-1:-8:-2]

['일', '금', '수', '월']

In [16]:
import random 
dice = random.randint(1, 6)
print(dice)

4

In [17]:
import math

print(math.sqrt(2))
print(math.sqrt)

1.4142135623730951
<built-in function sqrt>

In [19]:
password = input('패스워드를 입력하세요: ')
if (int(password) == 12345):
    print('로그인이 되었습니다.')
elif(int(password) == 11111):
    print('관리자 권한입니다.')
else:
    print('로그인에 실패하였습니다.')

패스워드를 입력하세요: 12345
로그인이 되었습니다.

In [20]:
arr1 = [1, 2, 3, 4, 5]

print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [21]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7